.header {
height: 55px;
display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: #fff;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(208, 208, 208);
z-index: 100;
}
.left-section {
    display: flex;
    align-items: center;
}
.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo {
    height: 20px;
}
.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar {
    flex: 1;
    height: 32px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(150, 141, 141);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder {
    font-size: 16px;
}
.search-button {
    height: 36px;
    width: 66px;
    background-color: #F7F7F7;
    border: 1px solid rgb(150, 141, 141);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
    position: absolute;
    background-color: rgb(168, 168, 168);
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto, Arial;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    
}


.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
    opacity: 1;    
}



.search-icon {
    height: 25px;
}
.voice-search-button {
    height: 36px;
    width: 36px;
    border-radius: 20px;
    border: none;
    background-color: #F7F7F7;
    
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture-container {

}
.voice-search-icon {
    height: 24px;
}
.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
    
}
.upload-icon {
height: 24px;
}
.youtube-apps-icon {
height: 24px;
}
.notifications-icon {
height: 24px;
}
.notifications-icon-container {
    position: relative;
}
.notification-count {
    position: absolute;
    top: -2px;
    right: -4px;
    background-color: #CC0000;
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding: 1px 5px 1px 5px;
    border-radius: 10px;

}
.current-user-picture {
height: 32px;
border-radius: 16px;
}