
.thumbnail {
    width: 100%;
}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
@media (min-width: 1000px) {
    .video-title {
      font-size: 16px;
      line-height: 24px;
    }
  }
  
  @media (min-width: 1000px) {
    .video-author,
    .video-stats {
      font-size: 14px;
    }
  }
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-picture {

}
.chanel-picture-container:hover .tooltip1 {
    opacity: 1;
}
.tooltip1 {
    position: absolute;
   
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 200px;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    z-index: 300;
}
.profile-picture-container:hover .tooltip1 {
    opacity: 1;
}
.chanel-picture-tt {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.name {
    font-weight: 700;
}
.name1 {
    color: grey;
}

.video-info {
    
}
.profile-picture {
    width: 36px;
    border-radius: 50px;
}
.thumbnails-row {
    margin-bottom: 8px;
    position: relative;
    position: relative;
    display: inline-block;
}
.video-author,
.video-stats
{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author {
    margin-bottom: 4px;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding: 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
}